<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default justify-content-right" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <ul class="nav navbar-nav">
        <li><a href="/about/about">About</a></li>
      </ul>
      <ul class="nav navbar-nav right">
        <li><a href="/auth/logout">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
