<!DOCTYPE html>
        <html lang="en">
        <head>
                
            <meta charset="utf-8">
            <title>About Us</title>
            <% include ../partials/head %>

            <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
            <link type="text/css" href="/custom-theme/jquery-ui-1.10.0.custom.css" rel="stylesheet" />
            <link type="text/css" href="/assets/css/font-awesome.min.css" rel="stylesheet" />
            <link href="/assets/css/docs.css" rel="stylesheet">
            <link href="/assets/js/google-code-prettify/prettify.css" rel="stylesheet">

        </head>

        <body data-spy="scroll" data-target=".bs-docs-sidebar" data-twttr-rendered="true">
                <% include ../partials/header %>    
        <header class="jumbotron subhead" id="overview">   
           
            <div class="container">
                
                <h1><a href = "/" >Lift-Off </a></h1>
                <p class="lead">Compare and analysis the work done by different space agencies across
                    the globe.</p>
            </div>
        </header>


        <div class="container">
        <div class="span12">
            <section id="introduction">
                <div class="page-header">
                    <h1>Introduction</h1>
                </div>
                <div class="row-fluid">
                    <p class="docs-lead">
                        This is a list of government agencies engaged in activities related to outer space and space exploration.

As of 2018, 72 different government space agencies are in existence; 14 of those have launch capability. Six government space agencies—
the China National Space Administration (CNSA), the European Space Agency (ESA), the Indian Space Research Organization (ISRO), the Japan Aerospace Exploration Agency (JAXA), 
the National Aeronautics and Space Administration (NASA), and the Russian Federal Space Agency (RFSA or Roscosmos)—have full launch capabilities; 
these include the ability to launch and recover multiple satellites, 
deploy cryogenic rocket engines and operate space probes.</p>
                    </p>
                </div>
            </section>
            <!-- Accordion -->
            <section id="accordion">
                <div class="page-header">
                    <h1>Our Team</h1>
                </div>
                <div id="menu-collapse">
                    <div>
                        <h3><a href="#">Avinav </a></h3>
                        <div>Graduate student at SJSU</div>
                    </div>
                    <div>
                        <h3><a href="#">Nachiket</a></h3>
                        <div>Graduate student at SJSU</div>
                    </div>
                    <div>
                            <h3><a href="#">Nishtha</a></h3>
                            <div>Graduate student at SJSU</div>
                        </div>
                        <div>
                                <h3><a href="#">Rajat</a></h3>
                                <div>Graduate student at SJSU</div>
                            </div>
                </div>
            </section>
            <!-- Dialog -->
            <section id="privacypolicy">
                <div class="page-header">
                    <h1>Privacy Policy</h1>
                </div>
                <p class="dialog-button">
                    <a href="#" id="modal_link" class="ui-state-default ui-corner-all">
                        <span class="ui-icon ui-icon-newwin"></span>
                        See our policy
                    </a>
                </p>
                <div id="dialog-message" title="Lift-off privacy notice">
                    <p>
                        <span class="ui-icon ui-icon-circle-check" style="float:left; margin:0 7px 50px 0;"></span>
                        This privacy notice discloses the privacy practices for (website address). This privacy notice applies solely to information collected by this website. It will notify you of the following:

What personally identifiable information is collected from you through the website, how it is used and with whom it may be shared.
What choices are available to you regarding the use of your data.
The security procedures in place to protect the misuse of your information.
How you can correct any inaccuracies in the information.
Information Collection, Use, and Sharing
                    </p>
                    <p>
                        We will use your information to respond to you, regarding the reason you contacted us. We will not share your information with any third party outside of our organization, other than as necessary to fulfill your request, e.g. to ship an order.

Unless you ask us not to, we may contact you via email in the future to tell you about specials, new products or services, or changes to this privacy policy.

Your Access to and Control Over Information
You may opt out of any future contacts from us at any time. You can do the following at any time by contacting us via the email address or phone number given on our website
                    </p>
                </div>
            </section>
            <!-- Tabs -->
            <section id="tabs-simple">
                <div class="page-header">
                    <h1>Important Information</h1>
                </div>
                <!--Demo-->
                <div id="tabs">
                    <ul>
                        <li><a href="/tabs/contactus.html">Contact Us</a></li>
                        <li><a href="/tabs/github.html">GitHub Link</a></li>
                        <li><a href="/tabs/help.html">Need Help?</a></li>
                        <li><a href="/tabs/careers.html">Careers</a></li>
                    </ul>
                </div>
            <!-- End tabs -->
            </section>
        </div>
    </div>
</div>

<!-- Placed at the end of the document so the pages load faster -->
<script src="/assets/js/jquery-1.9.0.min.js" type="text/javascript"></script>
<script src="/assets/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/assets/js/jquery-ui-1.10.0.custom.min.js" type="text/javascript"></script>
<script src="/assets/js/google-code-prettify/prettify.js" type="text/javascript"></script>
<script src="/assets/js/docs.js" type="text/javascript"></script>
<script src="/assets/js/demo.js" type="text/javascript"></script>
<script src="/tabs.js" type="text/javascript"></script>
</body>
</html>