<head>
  <% include ../partials/head %>
</head>

<body class="container">
  <div class="jumbotron">
    <h1 class="display-1">welcome</h1>
  </div>

  <span display="inline">
    <div class="card" style="width: 18rem;">
      <img
        src="http://farm9.staticflickr.com/8337/8241913870_77dae6d471_m.jpg"
        class="card-img-top"
        alt=""
      />
      <div class="card-body">
        <h5 class="card-title">NASA</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a href="https://www.nasa.gov/" target="_blank" class="btn btn-primary"
          >Visit Official Site</a
        >
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <img
        src="http://farm9.staticflickr.com/8337/8241913870_77dae6d471_m.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">ESA</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a href="http://www.esa.int/ESA" target="_blank" class="btn btn-primary"
          >Visit Official Site</a
        >
      </div>
    </div>
  </span>
</body>
