<head>
  <% include ../partials/head %>
  <link href="../../public/projects.css" rel="stylesheet" type="text/css" />
</head>

<body class="container">
    <header>
        <% include ../partials/header %>
      </header>
  <div class="jumbotron">
    <h1 class="display-1">welcome</h1>
  </div>

  <span display="inline">
    <div class="card" style="width: 33rem;">
      <img
        src="http://localhost:3000/nasa.jpg"
        class="card-img-top"
        alt="nasa logo"
      />
      <div class="card-body">
        <p class="card-text">
          The National Aeronautics and Space Administration (NASA) is an
          independent agency of the United States responsible for the civilian
          space program,aeronautics and aerospace research
        </p>
        <a href="https://www.nasa.gov/" target="_blank" class="btn btn-primary"
          >Official Site</a
        >
        <a href="/auth/infoNasa" target="_blank" class="btn btn-primary"
          >info Site</a
        >
      </div>
    </div>
  </span>
</body>
